.signin-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem;
  }
  
h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: #997E49;
}

label {
    color: #997E49;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    display:block;
    text-align: start;
}

input {
    box-sizing: border-box;
    height: 39px;
    width: 426px;
    border: 2px solid #997E49;
    border-radius: 10px;
    background-color: white;
    margin: 8px 0;
    color: black;
}

button {
    background-color: black;
    color: white;
    width: 426px;
}

.container {
    padding: 30px;
    background-color: white;
    width: 450px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

